/* tslint:disable */
/* eslint-disable */
/*@ts-ignore*/
import React, { FunctionComponent } from 'react';

export type IconNames = '#names#';

export interface IconProps {
  name: IconNames;
  size?: number;
  color?: string | string[];
  style?: React.CSSProperties;
  className?:string;
  onClick?:()=>void;
}

const IconFont: FunctionComponent<IconProps> = () => {
  return null;
};

export default IconFont;
